*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

#container 
{
    background-color: #EAECEE;
    grid-template-columns: 1fr;
}

#container > img
{
    height: 200px;
    width: 150px;
    margin: 0 auto;
}

#container > div
{
    text-align: center;
    padding: 10px;
}

#container h1
{
    margin-bottom: 20px;
    color: #52BE80;
}

#main-form, #container
{
    max-width: 500px;
    margin: 0 auto;
    display: grid;
}

#main-form
{
    grid-template-columns: repeat(2, 1fr);
    background-color: #EAECEE;
    padding: 20px;
}

.currency-code
{
    width: 40%;
    display: inline-block;
    padding: 10px;
}

#main-form > div:nth-child(1)
{
    padding-left: 30px;
} 

#main-form > div:nth-child(2) 
{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-items: end;
    align-items: center;
    padding-right: 30px;
}

#main-form > div:nth-child(2) > input
{
    width: 50%;
    padding: 10px;
}

button
{
    display: block;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 30%;
    background-color: #52BE80;
    border: none;
    color: #ffffff;
}